@import "./input.scss";
@import "./button.scss";
@import "./pagination.scss";
@import "./nav.scss";
@import "./card.scss";
@import "./parallax.scss";
@import "./eye.scss";
@import "./menu.scss";
@import "./image-comparision.scss";
@import "./profile-card.scss";
@import "./linear.scss";
@import "./slider.scss";
body {
  min-height: 1500px;
  background: #0a2a43;
  cursor: url(a.png), auto;
}

h1 {
  color: #fff;
}
