.form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
  background: transparent; }
  .form input {
    background: transparent;
    width: 100%;
    height: 100%;
    color: #001;
    border: none;
    outline: none; }
    .form input:focus + .label-name-input .content-label-name {
      transform: translateY(-150%);
      color: red;
      font-size: 14px; }
    .form input:focus + .label-name-input::after {
      transform: translateX(0%); }
    .form input:valid + .label-name-input .content-label-name {
      transform: translateY(-150%);
      color: red;
      font-size: 14px; }
    .form input:valid + .label-name-input::after {
      transform: translateX(0%); }
  .form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black; }
    .form label::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 3px solid red;
      transform: translateX(-100%);
      transition: all 0.3s ease; }

.content-label-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease; }

.form-button {
  width: 50%;
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .form-button a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    cursor: pointer; }
  .form-button span {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50px;
    background: #fff;
    animation: animate 1s linear infinite; }

.form-button-neon {
  width: 50%;
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .form-button-neon a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    overflow: hidden;
    transition: 0.2s; }
    .form-button-neon a span {
      position: absolute;
      display: block; }
    .form-button-neon a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #2196f3); }
    .form-button-neon a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #2196f3); }
    .form-button-neon a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #2196f3); }
    .form-button-neon a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(90deg, transparent, #2196f3); }
  .form-button-neon a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s; }
    .form-button-neon a:hover span:nth-child(1) {
      left: 100%;
      transition: 1s; }
    .form-button-neon a:hover span:nth-child(3) {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s; }
    .form-button-neon a:hover span:nth-child(2) {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s; }
    .form-button-neon a:hover span:nth-child(4) {
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s; }

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5; }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0; } }
.section-pagination ul {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .section-pagination ul li {
    list-style: none;
    line-height: 50px;
    margin: 0 5px; }
    .section-pagination ul li a,
    .section-pagination ul li div {
      display: block;
      text-decoration: none;
      color: #777;
      font-weight: 600;
      border-radius: 50%;
      cursor: pointer; }
      .section-pagination ul li a:hover,
      .section-pagination ul li div:hover {
        background: #333;
        color: #fff; }
  .section-pagination ul li:first-child {
    width: 50px;
    height: 50px;
    font-weight: 700px;
    font-size: 14px;
    text-align: center; }
  .section-pagination ul li:last-child {
    width: 50px;
    height: 50px;
    font-weight: 700px;
    font-size: 14px;
    text-align: center; }
  .section-pagination ul .pageNumber {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  .section-pagination ul .active {
    background: #333;
    color: #fff;
    border-radius: 50%; }

nav {
  width: 100%;
  height: 10vh;
  background: #5b78c7; }

.nav-links {
  display: flex;
  list-style: none;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto; }
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px; }

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce; }

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px; }

  nav {
    position: relative; }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2; }

  .nav-links {
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 80% -20%);
    -webkit-clip-path: circle(100px at 80% -20%);
    transition: all 1s ease-out;
    pointer-events: none; }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all; }

  .landing {
    flex-direction: column; } }
.session-card {
  flex-direction: column;
  background: #131313;
  display: flex;
  align-items: center;
  color: white;
  height: 100%; }
  .session-card .card-container {
    position: relative; }
    .session-card .card-container .card {
      position: relative;
      height: 450px;
      width: 320px;
      background: #232323;
      border-radius: 20px;
      overflow: hidden; }
      .session-card .card-container .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #9bdc28;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out; }
      .session-card .card-container .card:hover::before {
        clip-path: circle(300px at 80% -20%); }
      .session-card .card-container .card:after {
        content: "Nike";
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 10em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 255, 0.04); }
      .session-card .card-container .card:hover .img {
        top: 0%;
        transform: translateY(0%); }
      .session-card .card-container .card:hover .contentBox {
        height: 238px; }
        .session-card .card-container .card:hover .contentBox a {
          opacity: 1;
          transform: translateY(0px);
          transition-delay: 0.5s; }
        .session-card .card-container .card:hover .contentBox .size {
          opacity: 1;
          visibility: visible;
          transition-delay: 0.5s; }
        .session-card .card-container .card:hover .contentBox .color {
          opacity: 1;
          visibility: visible;
          transition-delay: 0.6s; }
      .session-card .card-container .card .img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 100%;
        height: 200px;
        transition: 0.5s; }
        .session-card .card-container .card .img img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-360deg);
          width: 270px; }
      .session-card .card-container .card .contentBox {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 9; }
        .session-card .card-container .card .contentBox h2 {
          position: relative;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 10px 0; }
        .session-card .card-container .card .contentBox .size {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 20px;
          transition: 0.5s;
          opacity: 0;
          visibility: hidden; }
          .session-card .card-container .card .contentBox .size span {
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            font-size: 14px;
            display: inline-block;
            color: #111;
            background: #fff;
            margin: 0 5px;
            transition: 0.5s;
            color: #111;
            border-radius: 4px; }
            .session-card .card-container .card .contentBox .size span:hover {
              background: #9bdc28;
              cursor: pointer; }
          .session-card .card-container .card .contentBox .size h3 {
            color: #fff;
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-right: 10px; }
        .session-card .card-container .card .contentBox .color {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 20px;
          transition: 0.5s;
          opacity: 0;
          visibility: hidden; }
          .session-card .card-container .card .contentBox .color span {
            width: 20px;
            height: 20px;
            background: #ff0;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer; }
            .session-card .card-container .card .contentBox .color span:nth-child(2) {
              background: #9bdc28; }
            .session-card .card-container .card .contentBox .color span:nth-child(3) {
              background: blue; }
            .session-card .card-container .card .contentBox .color span:nth-child(4) {
              background: pink; }
        .session-card .card-container .card .contentBox a {
          display: inline-block;
          padding: 10px 20px;
          background: #fff;
          border-radius: 4px;
          margin-top: 10px;
          text-decoration: none;
          font-weight: 600;
          color: #111;
          opacity: 0;
          transform: translate(50px);
          transition: 0.5s; }
  .session-card .card-container1 {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0; }
    .session-card .card-container1 .card {
      position: relative;
      height: 250px;
      background: #fff;
      display: flex;
      width: 45%;
      margin: 30px 0; }
      .session-card .card-container1 .card:hover .img {
        width: 150px;
        height: 150px;
        left: -75px;
        top: 75px;
        transition: 0.5s ease-in-out;
        background: #ff0057; }
        .session-card .card-container1 .card:hover .img img {
          max-width: 75px; }
      .session-card .card-container1 .card .img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out; }
        .session-card .card-container1 .card .img:before {
          content: attr(data-text);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 6em;
          color: rgba(255, 255, 255, 0.05);
          font-weight: 700; }
        .session-card .card-container1 .card .img img {
          max-width: 100px;
          transition: 0.5s ease-in-out; }
      .session-card .card-container1 .card .contentBox {
        position: absolute;
        right: 0;
        width: calc(100% - 75px);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .session-card .card-container1 .card .contentBox div {
          margin: 20px; }
          .session-card .card-container1 .card .contentBox div h3 {
            margin-bottom: 5px;
            font-size: 24px;
            color: #333; }
          .session-card .card-container1 .card .contentBox div p {
            color: #333; }
          .session-card .card-container1 .card .contentBox div a {
            display: inline-block;
            margin-top: 10px;
            padding: 5px 10px;
            background: #333;
            text-decoration: none;
            color: #fff; }

@media screen and (max-width: 992px) {
  .session-card .card-container1 {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .session-card .card-container1 .card {
      width: 400px; } }
@media screen and (max-width: 768px) {
  .session-card .card-container1 .card {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    height: auto; }
    .session-card .card-container1 .card .img {
      position: relative;
      width: 100%;
      height: 200px;
      left: 0; }
    .session-card .card-container1 .card:hover .img {
      width: 100%;
      height: 200px;
      left: 0;
      top: 0; }
      .session-card .card-container1 .card:hover .img img {
        max-width: 100px; }
  .session-card .card-container1 .contentBox {
    position: relative !important;
    width: 100% !important; } }
.session-parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .session-parallax:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 99; }
  .session-parallax:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 99;
    mix-blend-mode: color; }
  .session-parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; }
  .session-parallax #text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1; }
  .session-parallax #road {
    z-index: 2; }

@media (max-width: 360px) {
  .session-parallax {
    height: 80vh; }
    .session-parallax img#moon {
      height: auto;
      width: 400px; }
    .session-parallax #text {
      font-size: 3.8em;
      margin-bottom: 200px; } }
.eye-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .eye-container .face {
    position: relative;
    width: 300px;
    height: 300px;
    background: #ffcd00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px; }
    .eye-container .face:hover {
      background: linear-gradient(180deg, #f44336, #ffcd00); }
      .eye-container .face:hover:before {
        width: 150px;
        height: 20px;
        top: 210px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background: #9d0b00; }
    .eye-container .face:before {
      content: "";
      position: absolute;
      width: 150px;
      height: 70px;
      top: 180px;
      border-bottom-left-radius: 70px;
      border-bottom-right-radius: 70px;
      background: #b57700;
      transition: 0.5s; }
    .eye-container .face .eyes {
      position: relative;
      top: -40px;
      display: flex;
      flex-wrap: wrap; }
      .eye-container .face .eyes .eye {
        position: relative;
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 15px;
        background: #fff;
        border-radius: 50%; }
        .eye-container .face .eyes .eye:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 25px;
          transform: translate(-50%, -50%);
          width: 40px;
          height: 40px;
          background: #333;
          border-radius: 50%; }

.Menu {
  background: white;
  list-style: none;
  text-decoration: none; }
  .Menu h1 {
    color: #000; }
  .Menu .middle {
    padding: 50px 100px;
    transform: translate(0%, 0%); }
    .Menu .middle .menu {
      border-radius: 8px;
      width: 300px;
      overflow: hidden; }
      .Menu .middle .menu .item {
        border-top: 1px solid #3498db;
        overflow: hidden;
        z-index: 9; }
        .Menu .middle .menu .item:target .smenu {
          max-height: 10rem; }
        .Menu .middle .menu .item .btn {
          display: block;
          padding: 16px 20px;
          background: #2980b9;
          position: relative;
          color: #fff; }
          .Menu .middle .menu .item .btn:before {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background: #2980b9;
            bottom: -7px;
            left: 20px;
            transform: rotate(45deg); }
        .Menu .middle .menu .item .smenu {
          background: #333;
          overflow: hidden;
          transition: max-height 0.1s ease-out;
          max-height: 0; }
          .Menu .middle .menu .item .smenu a {
            display: block;
            padding: 16px 26px;
            position: relative;
            color: #fff; }
            .Menu .middle .menu .item .smenu a:before {
              content: "";
              position: absolute;
              width: 6px;
              height: 100%;
              background: #3498db;
              left: 0;
              top: 0;
              opacity: 0;
              transition: 0.1s; }
            .Menu .middle .menu .item .smenu a:hover:before {
              opacity: 1; }

.session-image-comparision {
  height: 500px;
  position: absolute;
  background: white;
  overflow: hidden;
  width: 100%;
  background: url(h1.jpg);
  background-attachment: fixed;
  object-fit: cover; }

#layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(h2.jpg);
  border-left: 2px solid #000;
  background-attachment: fixed;
  object-fit: cover; }

.profile-container {
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(45deg, #8e44ad, #ecf0f1);
  text-align: center;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out; }
  .profile-container:hover {
    height: 470px;
    width: 350px;
    border-radius: 5px; }
    .profile-container:hover .wrapper img.active {
      height: 470px;
      width: 350px;
      margin: 0px auto;
      border: none;
      border-radius: 5px; }
    .profile-container:hover .icons li {
      opacity: 1;
      margin-left: 7px; }
      .profile-container:hover .icons li:nth-child(2) {
        transition-delay: 0.2s; }
      .profile-container:hover .icons li:nth-child(3) {
        transition-delay: 0.4s; }
  .profile-container .wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease; }
  .profile-container .wrapper .title {
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700; }
  .profile-container .wrapper .place {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif; }
  .profile-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .profile-container .content p {
      color: #fff;
      font-size: 18px;
      font-family: sans-serif; }
    .profile-container .content .buttons {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .profile-container .content .buttons .btn {
        width: 100%;
        height: 50px;
        padding: 5px; }
        .profile-container .content .buttons .btn button {
          cursor: pointer;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #333;
          transition: all 0.3s; }
        .profile-container .content .buttons .btn:hover {
          transform: scale(0.95); }
  .profile-container .icons {
    position: relative;
    margin-top: -435px;
    list-style: none;
    margin-left: 10px; }
    .profile-container .icons li {
      height: 40px;
      width: 40px;
      opacity: 0;
      margin-left: -100px;
      transition: all 0.5s ease; }
      .profile-container .icons li a {
        width: 100%;
        height: 100%;
        display: block;
        line-height: 40px;
        background: #fff;
        border-radius: 50%;
        margin: 5px;
        transition: all 0.3s; }
        .profile-container .icons li a:hover {
          transform: scale(0.9); }

body {
  min-height: 1500px;
  background: #0a2a43;
  cursor: url("a.png") 2 2, pointer; }

h1 {
  color: #fff; }

/*# sourceMappingURL=index.css.map */
