// body {
//   background: #fff;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }
.session-swiper {
  min-height: 500px;
  position: relative;
  width: 100%;
  background: #828282;
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    //   min-height: 500px;
  }

  .swiper-wrapper {
    height: 350px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
    .imgBox {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .detail {
      background: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3,
        0 0 120px #2196f3;
      padding: 0px 10px;

      p {
        font-size: 14px;
        color: #333;
      }

      span {
        font-size: 12px;
        color: #333;
      }
    }

    &:nth-child(2) {
      .detail {
        box-shadow: 0 0 10px #424242, 0 0 40px #474747, 0 0 80px #747474,
          0 0 120px #242424;
      }
    }
    &:nth-child(4) {
      .detail {
        box-shadow: 0 0 10px #b3b3b3, 0 0 40px #bc3333, 0 0 80px #bcbcbc,
          0 0 120px yellow;
      }
    }
    &:nth-child(5) {
      .detail {
        box-shadow: 0 0 10px #424242, 0 0 40px #474747, 0 0 80px #747474,
          0 0 120px #242424;
      }
    }
    &:nth-child(3) {
      .detail {
        box-shadow: 0 0 10px #424242, 0 0 40px #474747, 0 0 80px #747474,
          0 0 120px #242424;
      }
    }
  }
}

.session-slider2 {
}
